<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	
        <rewrite>
            <rules>
                <rule name="Imported Rule 1">
                    <match url="^(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 2">
                    <match url="^([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url={R:1}" appendQueryString="false" />
                </rule>


                <rule name="Imported Rule 3">
                    <match url="^(.*)\.htm$" />
                    <action type="Rewrite" url="{R:1}.php" />
                </rule>
                <rule name="Imported Rule 4">
                    <match url="^(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="dash.php?page={R:1}" appendQueryString="false" />
                </rule>


                <rule name="Imported Rule 5">
                    <match url="^([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="dash.php?url={R:1}" appendQueryString="false" />
                </rule>

                <rule name="Imported Rule delete">
                    <match url="^([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="delete.php?page={R:1}" appendQueryString="false" />
                </rule>

				<rule name="Imported Rule 6">
                    <match url="^Difi-imaging/badge/([^/]+)" ignoreCase="false" />
                    <action type="Rewrite" url="/Difi-imaging/badge.php?badge={R:1}" appendQueryString="false" />
                </rule>
				<rule name="Imported Rule 7">
                    <match url="^stream-imager/([^/]+).gif" ignoreCase="false" />
                    <action type="Rewrite" url="/stream-imager/head.php?figure={R:1}" appendQueryString="false" />
                </rule>

<rule name="Imported Rule 13">
<match url="^prosjekt/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?url=prosjekt&amp;username={R:1}" appendQueryString="false" />
</rule>


<rule name="Imported Rule 14">
<match url="^group/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?url=group&amp;id={R:1}" appendQueryString="false" />
</rule>

<rule name="Imported Rule 15">
<match url="^bp1listing/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?url=bp1listing&amp;username={R:1}" appendQueryString="false" />
</rule>

<rule name="Imported Rule 16">
<match url="^konseptlisting/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?url=konseptlisting&amp;username={R:1}" appendQueryString="false" />
</rule>

<rule name="Imported Rule 17">
<match url="^bp2listing/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?url=bp2listing&amp;username={R:1}" appendQueryString="false" />
</rule>

<rule name="Imported Rule 18">
<match url="^planlegginglisting/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?url=planlegginglisting&amp;username={R:1}" appendQueryString="false" />
</rule>

<rule name="Imported Rule 19">
<match url="^bp3listing/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?url=bp3listing&amp;username={R:1}" appendQueryString="false" />
</rule>

<rule name="Imported Rule 20">
<match url="^gjennomforinglisting/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?url=gjennomforinglisting&amp;username={R:1}" appendQueryString="false" />
</rule>

<rule name="Imported Rule 21">
<match url="^bp4listing/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?url=bp4listing&amp;username={R:1}" appendQueryString="false" />
</rule>

<rule name="Imported Rule 22">
<match url="^avsluttelisting/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?url=avsluttelisting&amp;username={R:1}" appendQueryString="false" />
</rule>

<rule name="Imported Rule 23">
<match url="^bp5listing/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?url=bp5listing&amp;username={R:1}" appendQueryString="false" />
</rule>

<rule name="Imported Rule 24">
<match url="^realiserelisting/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?url=realiserelisting&amp;username={R:1}" appendQueryString="false" />
</rule>

<rule name="Imported Rule 25">
<match url="^bp6listing/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?url=bp6listing&amp;username={R:1}" appendQueryString="false" />
</rule>

            </rules>
        </rewrite>
    </system.webServer>
</configuration>
